@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.churchofjesuschrist.org/?">The Church of Jesus Christ of Latter Day Saints</a>.</p>
    <img class="img card-img border-secondary rounded img-fluid w-75" src="https://churchofjesuschrist.org/imgs/a5d3af254b14f1d80a4d17e7eda75822f2f859e4/full/1280%2C/0/default" />
</div>
